torch-sparse==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.4.0.html
torch-scatter==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.4.0.html
torch-cluster==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.4.0.html
torch-spline-conv==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.4.0.html
test-tube
pytorch-lightning